<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Allow Laravel API requests
    RewriteCond %{REQUEST_URI} ^/api/ [NC]
    RewriteRule .* - [L]
    
    # Serve React static files
    RewriteCond %{REQUEST_URI} ^/(static|assets|favicon|manifest) [NC]
    RewriteRule ^ frontend/build%{REQUEST_URI} [L]
    
    # Redirect all other routes to React
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ /index.html [QSA,L]
    
</IfModule>
