.interactive-business {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  gap: 20px;

  .section {
    position: relative;
    padding: 0;
    height: 600px;
    overflow: hidden;
    cursor: pointer;
    transition: flex 0.6s ease-in-out;
    display: flex;
    flex-direction: column;

    &.active {
      flex: 1.5;
      .image-wrapper {
        
      .label {
        top: 20% !important;
        display: none;
      }
    }
    }

    &.inactive {
      flex: 1;
      filter: grayscale(40%);
    }
    &#earlygeneration {
      .image-wrapper {
        img {
          display: block;
          margin-left: auto;
        }
        .newhover-hint{
          right:unset;
          left: 0;
        }
        
      }
    }
    .image-wrapper {
      position: relative;
      height: 100%;
      display: flex;
      img {
        object-fit: cover;
        transition: transform 0.5s ease;
      }

      .label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #006400;
        color: white;
        padding: 8px 20px;
        border-radius: 0px;
        font-weight: 600;
        white-space: nowrap;
        font-size: 35px;
      }
      .newhover-hint {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #000000;
        color: white;
        padding: 5px 8px;
        border-radius: 0px 0 5px 5px;
        font-size: 12px;
      }
      h3 {
        color: #1d591d;
        margin-top: 20px;
        font-size: 32px;
    }
    }

    .desc-wrapper {
      background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    transition: opacity 0.4s ease;
    opacity: 0;
    display: none;
    max-height: 100%;
    overflow-y: auto;

      .description {
        font-size: 14px;
        color: #333;
        white-space: pre-line;
        p {
          color: #000;
          line-height: 1.4;
        }
      }
    }

    &.active .desc-wrapper {
      opacity: 1;
      display: block;
    }
    @keyframes pulse {
      0% {
        transform: scale(1);
        opacity: 0.7;
      }
      50% {
        transform: scale(1.2);
        opacity: 1;
      }
      100% {
        transform: scale(1);
        opacity: 0.7;
      }
    }

    // .hover-hint {
    //   animation: pulse 1.8s infinite;
    // }
  }
}

.OurBusiness {
  section.diginto.businessMain {
    margin-top: 77px;
    margin-bottom: 77px;
  }

  .seed-container {
    background-color: #66c501;
    color: #fff;
    align-items: center;
    border-radius: 33px;
    padding: 17px 28px;
  }

  .businessMain ul {
    margin: 0 auto 20px;
    li {
      text-transform: uppercase;
    }
  }

  .businessMain p {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.4px;
    margin: 0 auto 40px;
  }
  .businessMain {
    h6 {
      font-size: 30px;
      color: #006a41;
      margin-bottom: 10px;
    }
    li {
      font-size: 20px;
      margin-bottom: 10px;
      color: #000;
    }
  }

  img.onion-roots {
    width: 92%;
    min-height: 100%;
  }

  img.tree-roots {
    width: 92%;
    min-height: 100%;
  }
  .field-generation-one,
  .early-generation {
    text-align: left;
    justify-content: end;
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
  }
  .field-generation-one p,
  .field-generation-one li,
  .early-generation p {
    color: #000;
  }
  .seed-container img {
    width: 72px;
    height: 72px;
  }

  .field-generation-two-box2 {
    background-color: #66c501;
  }
  .field-generation-two-box {
    background-color: #006a41;
  }
  .field-generation-two-box2,
  .field-generation-two-box {
    max-width: 470px;
    width: 100%;
    color: #fff;
    padding: 100px 40px 45px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 35px;
  }
  .field-generation-two h2 {
    font-size: 40px;
    margin-right: 65px;
  }
  .field-generation-two {
    position: relative;
    z-index: 1;
    margin-top: -160px;
  }
  .field-generation-three {
    background-color: #006a41;
    color: #fff;
    border-radius: 20px;
    padding: 25px 65px 35px 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .field-generation-three h2 {
    width: 380px;
    font-size: 40px;
    text-transform: uppercase;
  }
  .products p {
    color: #000;
    margin-right: 30px;
  }
  .chipsona-img {
    max-width: 690px;
    width: 100%;
    position: absolute;
    left: 0;
  }
  .chipsona {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0px;
  }
  .tree-bg-chipsona {
    position: absolute;
    bottom: -10%;
    left: 0px;
    right: 15%;
    margin: auto;
    width: 250px;
  }
}

@media (max-width: 1540px) {
  .OurBusiness {
    .early-generation {
      align-items: center;
    }
    h2 {
      font-size: 35px;
    }
    section.diginto.businessMain {
      margin-top: 55px;
      margin-bottom: 55px;
    }
    .businessMain p {
      font-size: 14px;
      margin: 0 auto 30px;
    }
    img.onion-roots {
      width: 97%;
      height: 80%;
    }
    .businessMain {
      h6 {
        font-size: 22px;
      }
      li {
        font-size: 14px;
        margin-bottom: 0px;
      }
    }
  }
  .interactive-business {
    .section {
      height: 418px;

      .image-wrapper {
        .label {
          font-size: 20px;
          padding: 5px 15px;
        }
        img {
          max-width: 330px;
          object-fit: contain;
        }
        h3 {
          margin-top: 10px;
          font-size: 20px;
      }
      .newhover-hint {
        padding: 3px 5px;
        border-radius: 0px 0 3px 3px;
        font-size: 10px;
    }
      }
      p {
        font-size: 13px;
        margin-bottom: 0;
      }
      
      &.active{
        .image-wrapper {
          
          img {
            max-width: 375px;
          }
        }
      }
    }
  }
}
@media (max-width: 580px) {
  .OurBusiness {
    .businessMain p {
      font-size: 14px;
      margin: 10px auto 30px;
      width: 100%;
      padding: 0 15px;
    }
    .early-generation {
      gap: 15px;
      padding: 0 !important;
      margin-top: 50px;
    }
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
