.Facilities {
  .l-green {
    color: #66c501 !important;
    display: block;
  }
  .slick-slide img {
    width: 100%;
  }
  .section1 {
    video {
      margin-bottom: 20px;
    }
    .fullwidth {
      max-width: 90%;
      margin: 60px 0 100px;

      p {
        color: #000;
        text-align: center;
      }
    }
  }
  .section3 {
    margin: 40px 0;
    .extrabgimage {
      height: 25vh;
    }
    .fullwidth {
      max-width: 90%;
      img {
        width: 100%;
      }
      p {
        max-width: 100%;
        font-size: 20px;
      }
      ul {
        li {
          font-size: 20px;
          color: #000;
        }
      }
      h2 {
        font-size: 45px;
        margin-bottom: 10px;
      }
      .manapurafac {
        padding-top: 100px;
      }
    }
    .locationicon {
      max-width: 20px;
      object-fit: contain;
      align-self: self-start;
      margin-top: 5px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 1540px) {
  .Facilities {
    .section1 {
      .fullwidth {
        margin: 40px 0 50px;
        p {
          font-size: 14px;
        }
        h2.d-green {
          font-size: 28px;
          padding: 0;
        }
      }
    }
    .section3 {
      .fullwidth {
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 14px;
        }
        ul {
          li {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .Facilities {
    .section1 {
      padding: 0;
      h2 {
        padding: 0;
      }
      .flex-column {
        padding: 0;
        h2.d-green {
          padding: 0;
        }
      }
    }
    .section3 {
      .fullwidth {
        padding: 0;
      }
    }
  }
}
