.Technituber {
  section.section1 {
    margin: 100px auto 0;

    p {
      padding-right: 20px;
    }

  }
  .fullwidth {
    max-width: 90%;
  }
  h2 {
    font-size: 45px;
  }
  .aachar {
    margin: 100px 0;
    .position-absolute {
      max-height: 30vh;
    }
    p {
      font-size: 20px;
      margin-bottom: 40px;
      padding-right: 20px;
    }
    .aachar-container {
      max-width: 100%;
      padding: 0 20px 0;
  }
  .certification{
    gap: 20px;
    padding-left: 30px;
    h3{
      font-size: 24px;
      font-weight: 600;
  }
    p{
      margin-bottom: 0;
        font-size: 18px;
        padding-right: 0px;
    }
    img {
      max-width: 90px;
  }
  }
  }

  .section-middle{
    // margin-top: -10px;
    margin: -10px 0 50px;
    h2{
      max-width: 500px;
      padding-left: 30px;
    }
    p{
      padding-left: 30px;
    }

}
.section3 {
  margin: 100px auto 0;
  h2{
    max-width: 500px;
  }
}

}

@media (max-width: 1540px) {
  .Technituber {
    h2{
      font-size: 28px;
    }
    section.section1 {
      margin: 70px auto 0;
  }
    .aachar {
      p {
        margin-bottom: 20px;
        font-size: 16px;
      }
      .certification{
        gap: 15px;
        margin-top: 30px;
        h3{
          font-size: 20px;
      }
        p{
            font-size: 14px;
          
        }
      }
    }
    
  }
}

@media (max-width: 580px) {
  .Technituber {
    .section1 {
      padding: 0;
      .fullwidth {
        flex-direction: column-reverse;
      }
      .flex-column {
        padding: 0;
        h2.d-green {
          padding: 0;
        }
      }
    }
    .section3 {
      .fullwidth {
        padding: 0;
      }
    }
    .aachar {
      .aachar-container {
        padding: 0px !important;
      }
      .position-absolute {
        max-height: 15vh;
        top: -30px !important;
      }
    }
    .section-middle {
      padding: 0;
      .position-absolute {
        display: none;
      }
      .col-md-6,
      .col-lg-6 {
        padding: 0 !important;
        margin-top: 20px;
      }
    }
  }
}
