.Home {
  .homePage {
    max-width: 1920px;
    margin: 0 auto;
  }
  .homeAbout {
    overflow: hidden;
    position: relative;

    h2.homeabouttitle {
      position: absolute;
      top: 300px;
      z-index: 9999;
      color: #fcf0b5;
      width: 100%;
      text-align: center;
      text-underline-offset: 8px;
      text-transform: uppercase;
      padding: 15px 10px 10px;
      font-size: 3vw;

    }
  }

  .homeAbout:after {
    position: absolute;
    content: none;
    background: url(../../images/potatoes.png);
    width: 100%;
    height: 380px;
    bottom: 0;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 555px;
  }

  .homeAbout:before {
    position: absolute;
    content: "";
    background: url("../../images/top-view-natural.png");
    width: 100%;
    height: 38%;
    top: 0;
    z-index: 999;
    background-size: contain;
    background-repeat: repeat-x;
  }

  .homeStory {
        padding-top: 23%;
    padding-left: 334px;
    padding-bottom: 300px;
    padding-right: 67px;
    background: #006a41;

    position: relative;
  }

  .homeLeading {
    padding-right: 230px;
        padding-top: 23%;
    padding-left: 88px;

    background: url(../../images/homeLeading.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .homeStory h2:before {
    position: absolute;
    content: "";
    background: url(../../images/story-logo2.png);
    width: 100px;
    height: 100px;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .homeStory h2 {
    font-family: "Poppins";
    font-size: 64px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 !important;
    line-height: 55px;
    position: relative;
  }

  .homeStory h3 {
    font-size: 34.99;
    font-family: "Poppins";
    font-weight: 600;
    color: #ffdb9e;
    text-transform: uppercase;
    margin-top: 50px;
  }

  p.bigText {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.48px;
    margin-bottom: 0;
  }
  .homeLeading h2 {
    font-family: "Poppins";
    font-size: 64px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 55px;
    position: relative;
    margin-bottom: 35px;
    &:before {
      position: absolute;
      content: "";
      background: url(../../images/leadingede.png);
      width: 100px;
      height: 100px;
      left: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .homeAbout .homeLeading a {
    margin-left: auto;
  }
  .homeLeading ul li {
    color: #fff;
    font-size: 24px;
  }

  .homeLeading ul li {
    margin-bottom: 5px;
  }

  .homeLeading p {
    margin: 14px 0 30px;

    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.48px;
  }

  .shortText {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 32px;
  }

  .shortText p {
    font-size: 15px;
    color: #fff;
    width: 91%;
  }

  .homeAbout a {
    border-radius: 54px;
    background: linear-gradient(98deg, #66c501 -8.18%, #fcf0b5 90.84%);
    padding: 10px 42px;
    margin-top: 50px;
    display: block;
    width: fit-content;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    letter-spacing: 0.4px;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    z-index: 2;
    transition: all 0.3s linear;

    &:hover {
      background: linear-gradient(98deg, #fcf0b5 -8.18%, #66c501 90.8%);
      box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
    }
  }

  .homeStory:before {
    position: absolute;
    content: "About Us";
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    transform: rotate(-90deg);
    left: 145px;
    text-underline-offset: 10px;
    text-decoration: 4px underline;
    bottom: 27rem;
  }

  .homeLeading:before {
    position: absolute;
    content: "Facilities";
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    transform: rotate(90deg);
    right: 145px;
    text-underline-offset: 10px;
    text-decoration: 4px underline;
    bottom: 24rem;
  }

  .homeStory:after {
    position: absolute;
    content: "";
    background: url(../../images/half-flower.png);
    width: 20%;
    height: 22%;
    top: 234px;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .businessSection {
    // background: #66C501;
    background: url(../../images/greenybg.webp);
    max-width: 100%;
    padding: 100px 0 60px;
    position: relative;
  }

  .businessInner {
    max-width: 1350px;
    margin: 0 auto;
  }

  .businessInner h2 {
    color: #66c501;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -1.28px;
    text-transform: uppercase;
    margin: 0;
  }

  span.whiteColor {
    color: #fff;
  }

  .businessInner p {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.4px;
    margin: 22px 0 49px !important;
  }

  .businessInner a {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding: 10px 42px;
    border-radius: 54px;
    background: linear-gradient(98deg, #66c501 -8.18%, #fcf0b5 90.84%);
    text-decoration: none;

    &:hover {
      background: linear-gradient(98deg, #fcf0b5 -8.18%, #66c501 90.8%);
      transition: all 0.3s linear;
      box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
    }
  }

  .businessSection:before {
    position: absolute;
    content: "Our Business";
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    transform: rotate(-90deg);
    left: 114px;
    text-underline-offset: 10px;
    text-decoration: 4px underline;
    bottom: 11rem;
  }
  .makeDifferentMain {
    background: url(../../images/doctor.jpg);
    width: 100%;
    max-width: 1920px;
    margin: 50px auto 0;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }
  .businessSection:after {
    position: absolute;
    content: "";
    background: url(../../images/business-logo.png);
    width: 8%;
    height: 58%;
    top: 24%;
    right: 0px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .makesDifferentSection {
    max-width: 730px;
    padding-top: 313px;
    padding-left: 150px;
    margin: 0 auto;
  }

  .makesDifferentSection:before {
    position: absolute;
    content: "What makes us different";
    color: #2f7214;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    transform: rotate(90deg);
    right: 63px;
    text-underline-offset: 10px;
    text-decoration: 4px underline;
  }

  // .makesDifferentSection:after {
  //     position: absolute;
  //     content: '';

  // }

  .makesDifferentSection ul li {
    color: #367d16;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
    letter-spacing: 0.48px;
    text-transform: uppercase;
  }

  .makesDifferentSection h2 {
    color: #006a41;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 70.4px */
    letter-spacing: -1.28px;
    text-transform: uppercase;
  }

  .makesDifferentSection p {
    color: #848484;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    letter-spacing: 0.4px;
    margin-top: 11px !important;
  }

  .d-flex.serviceBoxMain {
    z-index: 99;
    position: relative;
    padding: 65px 37px 20px 116px;
    gap: 9.55px;
  }

  .serviceBox {
    border-top: 8.6px solid #fcf0b5;
    border-radius: 9.552px;
    background: #006a41;
    box-shadow: 3.821px 3.821px 3.821px 0px rgba(0, 0, 0, 0.12);
    padding: 31.52px 21.97px 0;
    transition: 0.8s ease all;
    width: 19%;
  }

  .serviceBox:hover {
    border-top: 8.6px solid #fcf0b5;
    background: #fff;
  }

  .serviceBox h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.458px;
    text-transform: uppercase;
    transition: 0.8s ease all;
    margin-bottom: 6.69px !important;
  }

  .serviceBox:hover h3 {
    color: #000;
  }

  .serviceBox p {
    color: #fff;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.248px;
    transition: 0.8s ease all;
    margin: 15px 0px 25px;
  }

  .serviceBox:hover p {
    color: #000;
  }

  .serviceBox img.img-normal {
    display: none;
    margin-bottom: 28.66px;
    transition: 0.8s ease all;
  }

  .serviceBox:hover img.img-normal {
    display: block;
    margin-bottom: 28.66px;
  }

  .serviceBox img.img-hover {
    margin-bottom: 28.66px;
    transition: 0.8s ease all;
  }

  .serviceBox:hover img.img-hover {
    display: none;
  }

  /* HOME BANNER */
  .logoImage {
    width: fit-content;
    background: #006a41;
    margin: 0 auto;
    padding: 21px 17px 35px;
    border-radius: 0 0 8px 8px;
    opacity: 0;
  }

  .homeMainBanner {
    background: url(../../images/newaihomebanner.webp); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .homeNavMain {
    padding-top: 84px;
    padding-bottom: 140px;
    max-width: 1452px;
    margin: 0 auto;
  }

  .homeCenterMenu img {
    width: 100%;
    padding-right: 2%;
    padding-bottom: 5%;
  }

  .homeleftMenu .text-center {
    width: 194px;
    height: 169px;
    // background: url(../../images/menuBG.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    flex-direction: row-reverse;
    gap: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s linear;
    &:hover {
      // background: url(../../images/bggreentonew.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .homeNavMain a {
    color: #fff;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .homerightMenu .text-center {
    width: 194px;
    height: 169px;
    // background: url(../../images/menuBG.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    flex-direction: row;
    gap: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s linear;
    &:hover {
      // background: url(../../images/bggreentonew.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .homeleftMenu {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .homerightMenu {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .text-center.lefttext {
    position: relative;
    left: 54px;
  }

  .text-center.righttext {
    position: relative;
    right: 54px;
  }
  .homerightMenu .text-center {
    &::after{
      position: absolute;
    content: "";
    background: url(../../images/greendott.png);
    width: 16px;
    height: 16px;
    background-size: cover;
    left: -7px;
    top: calc(50% - 8px);
    }
  }
  .homeleftMenu .text-center {
    &::after{
      position: absolute;
    content: "";
    background: url(../../images/greendott.png);
    width: 16px;
    height: 16px;
    background-size: cover;
    right: -7px;
    top: calc(50% - 8px);
    }
  }
  .aboutMenu::before {
    position: absolute;
    content: "";
    background: url(../../images/aboutMenu.png);
    width: 353px;
    height: 75px;
    background-size: cover;
    left: 99%;
    top: 48%;
  }
  .varietiesMenu::before {
    position: absolute;
    content: "";
    background: url(../../images/varietiesMenu.png);
    width: 371px;
    height: 75px;
    background-size: cover;
    right: 99%;
    top: 48%;
  }
  .facilitiesMenu {
    position: relative;
  }
  .facilitiesMenu::before {
    position: absolute;
    content: "";
    background: url(../../images/straightLine.png);
    width: 332px;
    height: 7px;
    background-size: cover;
    left: 99%;
    top: 48%;
  }
  .technituberMenu {
    position: relative;
  }
  .technituberMenu::before {
    position: absolute;
    content: "";
    background: url(../../images/straightLine.png);
    width: 343px;
    height: 7px;
    background-size: cover;
    right: 99%;
    top: 48%;
  }

  .testimonialsMenu::before {
    position: absolute;
    content: "";
    background: url(../../images/testimonialmenu.png);
    width: 331px;
    height: 106px;
    background-size: cover;
    left: 99%;
    top: -1rem;
  }

  .businessMenu::before {
    position: absolute;
    content: "";
    background: url(../../images/businessMenu.png);
    width: 331px;
    height: 106px;
    background-size: cover;
    right: 99%;
    top: -1rem;
  }
}

/** Responsive **/

@media only screen and (max-width: 1540px) {
  .Home {
    .homeMainBanner {
      background-position: center;
      .homeNavMain {
        max-width: 1280px;
      }

      .logoImage {
        height: 0;
        padding: 0;
      }
      .homeleftMenu .text-center {
        width: 150px;
        height: 130px;
        img {
          width: 35px;
          height: 35px;
          object-fit: contain;
        }
      }
      .homeNavMain a {
        font-size: 10px;
      }
      .homerightMenu .text-center {
        width: 150px;
        height: 130px;
        img {
          width: 35px;
          height: 35px;
          object-fit: contain;
        }
      }

      .homeCenterMenu {
        width: 24%;
        img {
          width: 99%;
          padding-right: 0%;
          padding-bottom: 5%;
        }
      }
      .testimonialsMenu::before,
      .businessMenu::before {
        top: -2.2rem;
      }
    }
    .homeAbout {
      &::after {
        width: 25%;
        height: 21%;
      }
      h2.homeabouttitle {
        top: 17%;
        font-size: 34px;
        line-height: 40px;
      }
      a {
        padding: 7px 30px;
        margin-top: 30px;
        font-size: 16px;
      }
      .homeStory {
        padding-top: 20%;
        padding-left: 7%;
        padding-bottom: 200px;
        padding-right: 40px;

        h2 {
          font-size: 34px;
          line-height: 40px;

          &::before {
            width: 55px;
            height: 55px;
          }
        }
        h3 {
          font-size: 22px;
          margin-top: 30px;
        }
        .bigText {
          font-size: 16px;
        }
        &::before {
          font-size: 14px;
          left: 20px;
          text-underline-offset: 5px;
          -webkit-text-decoration: 4px underline;
          text-decoration: 2px underline;
          bottom: 20%;
        }
      }
      .homeLeading {
        padding-top: 20%;
        padding-left: 5%;
        padding-bottom: 200px;
        padding-right: 60px;

        &::before {
          font-size: 14px;
          right: 5px;
          text-underline-offset: 5px;
          -webkit-text-decoration: 4px underline;
          text-decoration: 2px underline;
          bottom: 20%;
        }

        h2 {
          font-size: 34px;
          line-height: 40px;
          margin-bottom: 22px;
          &:before {
            width: 55px;
            height: 55px;
            left: 90%;
          }
        }
        p {
          margin: 10px 0 15px;
          font-size: 16px;
          letter-spacing: 0.28px;
        }
      }
    }
    .businessSection {
      padding: 76px 0 45px;
      &::before {
        font-size: 14px;
        left: 10px;
        text-underline-offset: 5px;
        text-decoration: 2px underline;
        bottom: 30%;
      }
      .businessInner {
        max-width: 1000px;
        h2 {
          font-size: 40px;
        }
        p {
          font-size: 16px;
          letter-spacing: 0.28px;
          margin: 15px 0 35px !important;
        }
        a {
          padding: 7px 30px;
          margin-top: 30px;
          font-size: 16px;
        }
      }
    }
    .makeDifferentMain {
      margin: 30px auto 0;
      background-size: 35% 100%;
      .makesDifferentSection {
        max-width: 600px;
        padding-top: 160px;
        padding-left: 150px;
        margin: 0 auto;
        h2 {
          font-size: 40px;
        }
        &:before {
          font-size: 14px;
          text-underline-offset: 5px;
          text-decoration: 2px underline;
        }
      }
      .serviceBoxMain {
        z-index: 99;
        position: relative;
        padding: 40px 30px 20px 80px;
        gap: 9.55px;

        .serviceBox {
          border-top: 5px solid #fcf0b5;
          border-radius: 7px;
          padding: 24px 15px 0;
          img {
            margin-bottom: 20px;
            height: 30px;
          }
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 12px;
            margin: 10px 0px 15px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1366px) {
  .Home {
    .homeMainBanner {
      background-position: center;
      .homeNavMain {
        max-width: 1070px;
        padding-top: 60px;
        padding-bottom: 100px;
      }
      .homeleftMenu {
        .text-center {
          width: 130px;
          height: 110px;
          img {
            width: 25px;
            height: 25px;
          }
        }
      }
      .homerightMenu {
        .text-center {
          width: 130px;
          height: 110px;
          img {
            width: 25px;
            height: 25px;
          }
        }
      }
      .aboutMenu::before {
        width: 300px;
        height: 60px;
      }
      .facilitiesMenu::before {
        width: 287px;
        height: 5px;
      }
      .testimonialsMenu::before {
        width: 280px;
        height: 94px;
      }
      .varietiesMenu::before {
        width: 300px;
        height: 60px;
      }
      .technituberMenu::before {
        width: 287px;
        height: 5px;
      }
      .businessMenu::before {
        width: 275px;
        height: 95px;
        background-position: bottom;
      }
    }
  }
}
@media (max-width: 768px) {
  .Home {
    .homeNavMain {
      padding-top: 60px;
      padding-bottom: 60px;
      max-width: 90%;
      .homeCenterMenu {
        display: none;
      }
      .text-center {
        // background: url(../../images/bggreentonew.png);
        background-size: cover;
        background-repeat: no-repeat;
        left: 0;
        right: 0;
        &::before {
          content: none !important;
          display: none !important;
        }
      }
    }
    .homeAbout {
      h2.homeabouttitle {
        top: 70px;
        font-size: 32px;
        line-height: 32px;
      }
      .homeStory {
        padding: 200px 20px 50px;

        &::before {
          bottom: 40px;
          left: auto;
          font-size: 14px;
          right: 0;
        }
      }
      .homeLeading {
        padding: 50px 20px;

        &::before {
          bottom: 40px;
          left: auto;
          font-size: 14px;
          right: 0;
          transform: rotate(-90deg);
        }
      }
      a {
        padding: 7px 30px;
        font-size: 14px;
        margin-left: 0px !important;
        margin-right: auto;
      }
      &::after {
        display: none;
      }
    }
    .businessSection {
      padding: 50px 20px 70px;
      &::before {
        left: auto;
        right: -10px;
        bottom: 60px;
      }
    }
    .makeDifferentMain {
      background-size: cover;
      overflow: hidden;
      margin: 0;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8); /* Adjust transparency */
        z-index: 0;
      }
      .makesDifferentSection {
        &::before {
          font-size: 16px;
          transform: none;
          right: auto;
          top: 40px;
        }
        max-width: 100%;
        padding: 80px 20px 30px;
        margin: 0 auto;
        position: relative;
      }
      .serviceBoxMain {
        padding: 0 20px 40px;
        gap: 15px;
        width: 100%;
        overflow: scroll;
        .serviceBox {
          flex: 0 0 59%;
        }
      }
    }
  }
}
