.varietiesparts {
  padding-top: 270px;
  .partsnavsec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 270px;
    .partsupperpart {
      padding-left: 45%;
      .hashtext {
        font-size: 24px;
        line-height: 1;
        color: #000;
      }
      h2 {
        font-size: 3.5vw;
        font-weight: 300;

        span {
          font-size: 4.3vw;
          font-weight: 900;
          line-height: 1;
          text-transform: uppercase;
        }
      }
      button.playvideobtn {
        // border-color: #006a41;
      }
    }

    .slick-slide {
      text-align: center;
      padding: 16px;

      &.slick-current {
        border-radius: 20px;
        background: #bdbdbd;
      }
      img {
        width: 150px;
        height: 150px;
        margin: 10px auto 24px;
        object-fit: cover;
        border: 1px solid #eee;
        border-radius: 100%;
      }
      h3 {
        font-size: 20px;
        font-weight: 400;
        color: #000;
        line-height: 1;
      }
    }
  }
  .partscards {
    .slick-track {
      display: flex !important;
    }

    .slick-slide {
      height: auto;
    }
    .slick-slide {
      padding: 15px;

      > div {
        padding: 55px 60px;
        box-shadow: 3px 4px 8.3px 0px rgba(0, 0, 0, 0.13);
        border-radius: 20px;
        border: 1px solid #f1f1f1;
        height: 100%;

        .partscardsname {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          margin-bottom: 35px;
          flex-direction: column-reverse;
          gap: 20px;

          h3 {
            font-size: 36px;
            margin-bottom: 0;
          }

          img {
            width: 200px;
            height: 200px;
            // object-fit: cover;
            border-radius: 100%;
            border: 1px solid #eee;
            object-fit: contain;
          }
        }
        p {
          color: #000;
          margin-bottom: 10px;
          font-size: 17px;
        }
        ul.list2 {
          list-style: none;
          margin: 15px 0;

          li {
            color: #000;
            margin-bottom: 10px;
            font-size: 17px;
          }
        }
      }
    }
  }
  .slick-slider {
    margin: 0 30px;
  }
}

@media (max-width: 1540px) {
  .varietiesparts {
    padding-top: 200px;
    .partsnavsec {
      gap: 200px;
      .slick-slide {
        padding: 10px;
        img {
          width: 100px;
          height: 100px;
        }
        h3 {
          font-size: 16px;
        }
      }
      .partsupperpart {
        padding-left: 55%;
        .hashtext {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }
    }
    .partscards {
      .slick-slide > div {
        padding: 30px 45px;
        .partscardsname {
          margin-bottom: 15px;
          gap: 15px;
          img {
            width: 150px;
            height: 150px;
          }
          h3 {
            font-size: 26px;
          }
        }
        ul.list2 li {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .varietiesparts {
    padding-top: 0px;
    .slick-slider {
      margin: 0;
    }
    .partscards .slick-slide {
      padding: 0px;
      margin-top: 25px;
      > div {
        padding: 15px 20px;
        box-shadow: 2px 4px 2.3px 0px rgba(0, 0, 0, 0.13);
      }
    }
    .partsupperpart {
      padding-left: 0;
      text-align: center;
    }
    .partsnavsec {
      .slick-slide {
        h3 {
          font-size: 14px;
        }
      }
      gap: 20px;
      .partsupperpart {
        padding-left: 0;
      }
      .partsupperpart h2 {
        font-size: 23px;
        span{
          font-size: 23px;
        }
      }
    }
  }
}
