.AboutBanner {
  .slick-slide {
    height: auto; // â† that must not be ignored
  }
  .slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .visionandfuture {
    display: flex;
    text-align: center;
    color: #fff;
    position: absolute;
    padding-bottom: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 60%);
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 45px;
      line-height: 1;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    h3 {
      font-size: 26px;
      text-transform: uppercase;
      font-weight: 600;
    }
    p {
      font-size: 20px;
      max-width: 800px;
      margin: 10px auto 0;
    }
  }

  overflow: hidden;
  .slick-slide img {
    display: block;
    width: 100%;
    max-height: 750px;
    object-fit: cover;
    height: 100%;
  }
}
@media only screen and (max-width: 1540px) {
  .AboutBanner {
    .slick-slide {
      > div {
        height: 100%;
        display: block !important;
        > div {
          height: 100%;
          display: block !important;
        }
      }
      .visionandfuture {
        padding-bottom: 10px;
    }
      img {
        display: block;
        width: 100%;
        max-height: 80vh;
        object-fit: cover;
      }
      h2 {
        font-size: 30px;
        line-height: 1;
      }
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
        max-width: 600px;
        margin: 7px auto 0;
      }
    }
  }
}
