.About {
  .about-welcome {
    background-image: url(../../images/about-img.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;
    padding-bottom: 130px;
    height: 100%;
    padding: 20px;
  }
  .about-welcome h2 {
    font-size: 45px;
  }
  .about-welcome p,
  .about-welcome .list2 {
    font-size: 20px;
    max-width: 640px;
    width: 100%;
    list-style-type: none;
    margin-bottom: 140px;
  }
  .about-green-box {
    background-color: #006a41;
    border-left: 5px solid #66c501;
    color: #fff;
    max-width: 575px;
    padding: 10px 15px;
    border-radius: 15px;
    position: absolute;
    right: 28%;
    bottom: 15px;
    left: 42%;
  }
  .globalpresence {
    margin-bottom: 80px;
    h2 {
      font-size: 45px;
    }
    img {
      margin-top: 50px;
    }
  }
  .presencecountry {
    margin-top: 0;
    margin-bottom: 50px;
    .country-container h2 {
      margin-bottom: 0;
      font-size: 32px;
    }
  }
  .ouroperations {
    h2 {
      font-size: 45px;
    }
    h6 {
      font-size: 24px;
    }
  }
  .section3 {
    padding-top: 200px;
  }

  .management {
    .col-md-4 {
      padding: 0 45px;
    }
    img {
      width: 100%;
      border-radius: 100%;
    }
  }
  .makeDifferentMain {
    background: url(../../images/doctor.jpg);
    width: 100%;
    max-width: 1920px;
    margin: 50px auto 0;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    
  .makesDifferentSection {
    max-width: 730px;
    padding-top: 313px;
    padding-left: 150px;
    margin: 0 auto;
  }

  .makesDifferentSection:before {
    position: absolute;
    content: "What makes us different";
    color: #2f7214;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    transform: rotate(90deg);
    right: 63px;
    text-underline-offset: 10px;
    text-decoration: 4px underline;
  }

  // .makesDifferentSection:after {
  //     position: absolute;
  //     content: '';

  // }

  .makesDifferentSection ul li {
    color: #367d16;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
    letter-spacing: 0.48px;
    text-transform: uppercase;
  }

  .makesDifferentSection h2 {
    color: #006a41;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 70.4px */
    letter-spacing: -1.28px;
    text-transform: uppercase;
  }

  .makesDifferentSection p {
    color: #848484;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    letter-spacing: 0.4px;
    margin-top: 11px !important;
  }
  
  .d-flex.serviceBoxMain {
    z-index: 99;
    position: relative;
    padding: 65px 37px 20px 116px;
    gap: 9.55px;
  }

  .serviceBox {
    border-top: 8.6px solid #fcf0b5;
    border-radius: 9.552px;
    background: #006a41;
    box-shadow: 3.821px 3.821px 3.821px 0px rgba(0, 0, 0, 0.12);
    padding: 31.52px 21.97px 40px;
    transition: 0.8s ease all;
    width: 19%;
  }

  .serviceBox:hover {
    border-top: 8.6px solid #fcf0b5;
    background: #fff;
  }

  .serviceBox h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.458px;
    text-transform: uppercase;
    transition: 0.8s ease all;
    margin-bottom: 6.69px !important;
  }

  .serviceBox:hover h3 {
    color: #000;
  }

  .serviceBox p {
    color: #fff;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.248px;
    transition: 0.8s ease all;
    margin: 15px 0px 25px;
  }

  .serviceBox:hover p {
    color: #000;
  }

  .serviceBox img.img-normal {
    display: none;
    margin-bottom: 28.66px;
    transition: 0.8s ease all;
  }

  .serviceBox:hover img.img-normal {
    display: block;
    margin-bottom: 28.66px;
  }

  .serviceBox img.img-hover {
    margin-bottom: 28.66px;
    transition: 0.8s ease all;
  }

  .serviceBox:hover img.img-hover {
    display: none;
  }
  }
}

@media (max-width: 1540px) {
  .About {
    .about-welcome {
      h2 {
        font-size: 30px;
        margin-bottom: 25px;
      }
      p {
        font-size: 16px;
        padding-right: 20px;
        margin-bottom: 90px;
      }
      .list2 {
        font-size: 16px;
      }
    }
    .globalpresence {
      h2 {
        font-size: 35px;
      }
      img {
        margin-top: 0;
      }
    }
    .presencecountry {
      gap: 25px !important;
      .country-container h2 {
        margin-bottom: 0;
        font-size: 28px;
      }
      h2 {
        font-size: 35px;
        img {
          width: 45px;
        }
      }
      p {
        font-size: 16px;
      }
    }
    .ouroperations {
      h2 {
        font-size: 32px;
        img {
          width: 40px;
        }
      }
      h6 {
        font-size: 20px;
      }
    }
    .management {
      .pt-5 {
        padding-top: 20px !important;
      }
      img {
        width: 85%;
      }
      .management-details {
        border: 3px solid #006a41;
        padding: 7px 5px;
        margin: 10px auto 0;
        width: 90%;
        h4 {
          font-size: 18px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .AboutBanner .slick-slide img {
    height: 35vh;
  }
  .About {
    .about-welcome {
      margin-top: 25px;
      background-position: 20px 0px;
      background-size: 320px;
      padding-top: 225px;
      margin-bottom: 0;
      .fullwidth {
        padding: 0;
      }
      h2 {
        font-size: 30px;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        padding-right: 0;
        margin-bottom: 0px;
      }
      .about-green-box {
        position: relative;
        right: auto;
        bottom: auto;
        left: auto;
        margin-top: 15px;
        max-width: 100%;
        h2 {
          font-size: 22px;
        }
      }
    }
    .globalpresence {
      margin-bottom: 50px;
      margin-top: 30px;
    }

    .presencecountry {
      gap: 20px !important;
      .country-container {
        img {
          width: 30px;
          height: 30px;
        }
        h2 {
          margin-bottom: 0;
          font-size: 24px;
        }
      }
    }
    .ouroperations {
      h2 {
        font-size: 30px;
      }
      h6 {
        font-size: 16px;
      }
    }
    .management {
      .col-md-4 {
        padding: 0px 0px;
      }
    }
  }
}
@media (max-width:500px){
  .About {
    .management {
      .col-md-4 {
        padding: 0px 25px;
      }
    }
  } 
}
