.Varieties {
  .halftext {
    max-width: 700px;
    padding-bottom: 10px;
    margin: 0 auto;
}
h2 {
  font-size: 45px;
}
  .dish-strip {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    background: #006a41;
    height: 13%;
  }
  .chipssec {
    .dish {
      cursor: pointer;
      h2 {
        font-size: 35px;
    }
      img {
        width: 100%;
        box-shadow: #00000047 6px 2px 6px 0px;
        border-radius: 55px;
      }
      &:hover {
        img {
          scale: 1.1;
        }
      }
    }
  }
}

.allvarietiesmain {
  .slick-track:before,
  .slick-track:after {
    display: table;
    content: none !important;
  }
  .stripslider {
    width: 30vw;
    text-align: center;
    position: absolute;
    z-index: 1;
    // background-color: #fff;
    left: 5vw;
    margin-top: 50px;
    // transform: rotate(40deg);
    // margin-left: 20%;
    // margin-top: 20%;
    img {
      width: 150px;
      margin-right: auto;
    }
    .slick-slide {
      > div {
        position: relative;
        padding: 30px 0;
        h3 {
          // position: absolute;
          // top: 50%;
          // left: 50%;
          // right: 0;
          // width: max-content;
          // transform: translate(-50%, -50%);
          // color: #fff;
          text-shadow: 0px 0px #ffffff;
          // background: #006a41bf;
          padding: 0 5px;
          border-radius: 4px;
          // min-width: 55%;
          text-align: left;
        }
        img {
          filter: brightness(65%);
        }
      }
    }
    .slick-slide.slick-active.slick-current {
      filter: brightness(100%);

      h3 {
        opacity: 0;
      }
      img {
        scale: 2;
        filter: brightness(100%);
        // width: 160px;
        // height: 160px;
        // background: #006a410f;
        // border-radius: 100%;
        // padding: 5px;
        object-fit: cover;
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 1540px) {
  .Varieties {
    .varieties ul {
      width: 150px;

      li {
        font-size: 14px;
      }
    }
    .chipssec.fullwidth {
      max-width: 1000px;
      img {
        border-radius: 35px;
      }
    }
    .dish {
      h2 {
        font-size: 30px;
        font-weight: 600;
        margin-top: 20px;
      }
      h3 {
        padding: 8px 10px;
        font-size: 25px;
      }
      p {
        font-size: 14px;
        line-height: 1.4;
      }
    }
    .dish-strip {
      height: 10%;
    }
  }
  .allvarietiesmain .stripslider {
    .slick-slide > div {
      padding: 20px 0;
      h3 {
        font-size: 18px;
      }
      img {
        width: 100px;
      }
    }
  }
}

@media (max-width: 768px) {
  .allvarietiesmain .stripslider {
    .slick-slide > div {
      padding: 20px 0;
      h3 {
        font-size: 18px;
        text-align: center;
        line-height: 1;
      }
      img {
        width: 100px;
        margin: 0 auto;
      }
    }
  }
}
@media (max-width: 580px) {
  .Varieties .chipssec.fullwidth {
    margin-top: 0 !important;
    padding-top: 20px !important;
    gap: 35px;
  }
  .allvarietiesmain {
    .stripslider {
      width: 100%;
      text-align: center;
      position: relative;
      z-index: 1;
      left: 0;
      margin-top: 50px;
      .slick-slide {
        &.slick-current {
          padding-top: 100px;
          img{
            scale: 1.5 !important;
          }
        }
        > div {
          h3 {
            font-size: 14px;
          }
          img {
            width: 90px;
          }
        }
      }
    }
  }
  
}
