.Varieties {
    .dish-strip {
        width: 100%;
        position: absolute;
        bottom: 40%;
        left: 0;
        background: #006A41;
        height: 13%;
    }
    .chipssec{
        img{
            width: 100%;
        }
    }
}